{% extends "base.html" %}
{% load i18n %}

{% block body_block %}
<div class="centered" id="auth">
  <h1>Login</h1>
  <form method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
    <button>{% trans "Log in" %}</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  <p class="comment">
    {% trans "Not  a member?" %}
    <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>
    <br />
    {% trans "Password lost?" %}
    <a href="{% url 'auth_password_reset' %}" class="btn-inline">{% trans "Reset Password" %}</a>
  </p>
</div>
{% endblock %}
