{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}

{% block body_block %}
{% block header %}
{% include "menu.html" %}
{% endblock %}
<div class="container">
  <div id="auth">
    <div class="page-header">
      <h1>{% trans "Your password reset is complete" %}</h1>
    </div>
    <p>
    {% trans "Your password has been reset!" %}
    {% trans "You may now" %} <a href="{{ login_url }}" class="btn-inline">{% trans "log in" %}</a>.
    </p>
  </div>
</div>
{% endblock %}
