{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}

{% block body_block %}
<div class="container">
  <div id="registration">

    {% if validlink %}

    <div class="page-header">
      <h1>{% trans "Confirm password reset" %}</h1>
    </div>
    <p>{% trans "Enter your new password below to reset your password:" %}</p>
    <div class="">
      <form method="post" action="." class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          <label for="{{ field.id_for_label }}" class="col-sm-4 control-label">{{ field.label }}</label>
          <div class="col-sm-8">
            <input id="{{ field.id_for_label }}" maxlength="{{ field.maxlength }}" name="{{ field.name }}" type="{{ field.field.widget.input_type }}" class="form-control">
          </div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <input type="submit" value="{% trans 'Set password' %}" class="button"/>
          </div>
        </div>
      </form>
    </div>

    {% else %}

    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

    {% endif %}
  </div>
</div>
{% endblock %}
