{% extends "base.html" %}
{% load i18n %}

{% block body_block %}
<div class="centered" id="auth">
  <h1>{% trans "Register Here" %}</h1>
  <form method="post" action=".">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Submit" />
  </form>

  <p class="comment">
    {% trans "Already registered?" %}
    <a href="{% url 'auth_login' %}">{% trans "Login" %}</a>
    <br />
    {% trans "Do you know our " %} <a href="/blog/" class="btn-inline">{% trans "Blog" %}</a>?
  </p>
</div>

{% endblock %}
