#flatpage
  +zen-new-row()
  +zen-grid-item(6, 2)
  p
    line-height: 1.5em
    margin-top: 1.5em
    img
      display: inline
      margin: 0.5em
      height: 10em
      border: 1px solid $color-gray
