/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />*/

@import compass/reset
@import compass/css3
@import zen
@import zen/background

@import settings
@import flatpages
@import scrollpane
@import breakpoints

@font-face
  font-family: "QuickSandLight"
  src: url('/static/compiled/fonts/Quicksand-Light.otf') format('opentype')

html, body
  height: 100%
  font-family: $font-family
  font-size: $content-font-size
  color: $color-font
  font-family: QuickSandLight
  width: 100%
  height: 100%
  margin: 0px
  padding: 0px

a, button, input
  color: $color-link
  font-size: 1.5em
  border: 1px solid $color-link
  padding: 0.1em
  padding-left: 0.3em
  padding-right: 0.3em
  margin: 0.3em 0.3em 0.3em 0em
  display: inline-block
  background-color: transparent
  &:active, &:focus, &:hover
    color: $color-link-highlight
p
  margin: 0 0 10px

label
  text-decoration: none
  color: $color-link
  cursor: pointer
  font-size: 1.5em
  padding: 0.1em
  background-color: transparent
  font-family: QuickSandLight

h1
  font-size: 3em
  margin-bottom: .5em
h2
  font-size: 2em
  margin-bottom: 1em
  margin-top: 1.25em

h3
  font-size: 1.5em
  margin-bottom: .125em

h4
  font-size: 1.25em
  margin-bottom: .0625em

h5
  font-size: 1.125em
  margin-bottom: .03125

ul, ol
  list-style: inherit
  padding: 1em

li
  padding-top: 0.6em

strong
  font-weight: bold
// hide angular content on loading:
[ng\:cloak], [ng-cloak], .ng-cloak
  display: none


// ----- global classes

.container
  +zen-grid-container
  width: $content-width
  margin: 0 auto

.footer
  +zen-clear
  +zen-grid-item(3, 1)
  height: 3em
  margin-top: 4em 

.centered
  margin: auto
  width: 480px
  height: 500px
  position: absolute
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  background: rgba(255, 255, 255, 0.95)
  padding: 2em 

.errorlist
  color: red

.disable
  color: #ddd
  border: 1px solid #ddd

.btn-focus
  border: 1px solid $color-focus
  color: $color-focus
  font-weight: bold

// ------- view spec
// --- index
.index_background
  background-size: cover
  background-image: url('/static/compiled/images/Zuerich_Boerse.jpg')
  width: 100%
  height: 100%
.button-panel
  margin-top: 15px
.leaf
  font-size: 2em
  position: inherit
  top: 2em
  right: 2.4em
.bg-success
  padding: 1em 
// -- login
#auth
  .comment
    margin-top: 5em

// --  start
div
  #add_shareholder
    margin-bottom: 1em
