{% extends "base_auth.html" %}

{% load django_markdown markdownify staticfiles %}

{% block ng_cloak %}{% endblock %}

{% block title %}
  <TITLE>{{ flatpage.title }} - Das Aktienregister</TITLE>
  <META NAME="Description" CONTENT="Das Aktienregister - GAFI konform und Audit Trail sicher">
  <META NAME="Keywords" CONTENT="Aktienregister, Share Register, Aktionariat, Aktien, Aktiengesellschaft">
{% endblock %}


{% block body_block %}

  {% block header %}
    {% include "menu.html" %}
  {% endblock %}

  <div class="container">
    <div class="" id="flatpage">
      <h1>{{ flatpage.title }}</h1>
      <p>{{ flatpage.content|markdown }}</p>
    </div>
  </div>

{% endblock %}

  {% block scripts %}
  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  <script src="{% static "compiled/javascript/contrib/jquery-2.1.3.min.js" %}"></script>
  <script src="{% static "compiled/contrib/underscore/underscore.js" %}"></script>
  <!--
  <script src="{% static "compiled/contrib/angular/angular.js" %}"></script>
  <script src="{% static "compiled/contrib/angular-resource/angular-resource.js" %}"></script>
  <script src="{% static "compiled/javascript/contrib/angular-translate.js" %}"></script>
  <script src="{% static "compiled/javascript/script.js" %}?v={{VERSION}}"></script>
  <script src="{% static "compiled/contrib/angular-xeditable/dist/js/xeditable.min.js" %}"></script>
  <script src="{% static "compiled/javascript/contrib/ng-file-upload.js" %}"></script>
  <script>
  // Add the CSRF Token
  var app = angular.module(angular.element($('[ng-app]')).attr('ng-app')); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
  app.config(['$httpProvider', function($httpProvider) {
     $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
  }]);
  </script>
  CONFLICT WITH MAILCHIMPs DOJO -->
  <script src="{% static "compiled/javascript/contrib/js.cookie.js" %}"></script>
  <script src="{% static "compiled/contrib/bootstrap/dist/js/bootstrap.min.js" %}"></script>
  {% endblock %}
