{% extends "base_auth.html" %}

{% load django_markdown markdownify %}

{% block title %}
  <TITLE>{{ flatpage.title }} - Das Aktienregister</TITLE>
  <META NAME="Description" CONTENT="Das Aktienregister - GAFI konform und Audit Trail sicher">
  <META NAME="Keywords" CONTENT="Aktienregister, Share Register, Aktionariat, Aktien, Aktiengesellschaft">
{% endblock %}


{% block body_block %}

  {% block header %}
    {% include "menu.html" %}
  {% endblock %}

  <div class="container">
    <div class="" id="flagpage">
      <h1>{{ flatpage.title }}</h1>
      <p>{{ flatpage.content|markdown }}</p>
    </div>
  </div>

{% endblock %}
