/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(https://fonts.googleapis.com/css?family=Muli:300,400);
/* line 5, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@media only screen and (max-width: 960px) {
  /* line 5, ../../sass/_breakpoints.sass */
  body .container {
    width: 780px;
  }
  /* line 10, ../../sass/_breakpoints.sass */
  body header .container .search-box {
    float: left;
    width: 62.5%;
    margin-left: 37.5%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 12, ../../sass/_breakpoints.sass */
  body header .container .search-box .auto-suggestions {
    width: 56.25%;
  }
}
@media only screen and (max-width: 800px) {
  /* line 19, ../../sass/_breakpoints.sass */
  body .container {
    width: 620px;
  }
  /* line 26, ../../sass/_breakpoints.sass */
  body header .container .search-box span.glyphicon.el-icon-search {
    font-size: 24x;
  }
  /* line 28, ../../sass/_breakpoints.sass */
  body header .container .search-box span.glyphicon.el-icon-remove {
    margin: 14px 0;
    padding: 20px 0;
  }
  /* line 31, ../../sass/_breakpoints.sass */
  body header .container .search-box input {
    font-size: 16px;
    padding: 15px 0 16px 25px;
  }
  /* line 39, ../../sass/_breakpoints.sass */
  body #mask .container .mask-wrapper .content-wrapper .content, body #mask .container .mask-wrapper .content-wrapper .map {
    clear: left;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: none;
  }
  /* line 43, ../../sass/_breakpoints.sass */
  body #mask .container .mask-wrapper .content-wrapper .map {
    padding-top: 2em;
  }
}
@media only screen and (max-width: 640px) {
  /* line 49, ../../sass/_breakpoints.sass */
  body .container {
    width: 480px;
  }
  /* line 52, ../../sass/_breakpoints.sass */
  body header {
    height: 180px;
    text-align: center;
  }
  /* line 56, ../../sass/_breakpoints.sass */
  body header .container .logo {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: none;
    margin-bottom: 10px;
  }
  /* line 60, ../../sass/_breakpoints.sass */
  body header .container .search-box {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    float: none;
  }
  /* line 63, ../../sass/_breakpoints.sass */
  body header .container .search-box .auto-suggestions {
    top: 156px;
    width: 75%;
  }
  /* line 67, ../../sass/_breakpoints.sass */
  body #mask header {
    text-align: left;
  }

  /* line 70, ../../sass/_breakpoints.sass */
  body.body-flatpage header {
    height: 80px;
  }
}
@media only screen and (max-width: 500px) {
  /* line 76, ../../sass/_breakpoints.sass */
  body .container {
    width: 400px;
  }
}
@media screen and (orientation: portrait) {
  /* line 81, ../../sass/_breakpoints.sass */
  div .coordinates {
    display: none;
  }

  /* line 84, ../../sass/_breakpoints.sass */
  div .immolink {
    width: 70% !important;
    margin-left: 15% !important;
  }
}
@font-face {
  font-family: "QuickSandLight";
  src: url("/static/compiled/fonts/Quicksand-Light.otf") format("opentype");
}
/*@font-face
 * font-family: "Muli"
 * src: url(http://fonts.googleapis.com/css?family=Muli:300,400) */
/* line 26, ../../sass/screen.sass */
html, body {
  height: 100%;
  font-size: 1em;
  color: #666666;
  font-family: Muli;
  font-weight: 300;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* line 38, ../../sass/screen.sass */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

/* line 42, ../../sass/screen.sass */
.core .container {
  width: 1000px;
  margin: 6em auto;
}
/* line 45, ../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.5/stylesheets/zen/_grids.scss */
.core .container:before, .core .container:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.5/stylesheets/zen/_grids.scss */
.core .container:after {
  clear: both;
}
/* line 46, ../../sass/screen.sass */
.core .container a, .core .container button, .core .container input[type=submit] {
  color: #337ab7;
  border: 1px solid #666666;
  margin: 0.3em 0.3em 0.3em 0em;
  display: inline-block;
  background-color: transparent;
}
/* line 54, ../../sass/screen.sass */
.core .container a.regular, .core .container button.regular, .core .container input[type=submit].regular {
  font-size: 1em;
  border: none;
  padding: 0em;
  margin: 0em;
  text-decoration: underline;
}
/* line 61, ../../sass/screen.sass */
.core .container input {
  display: inline-block;
  background-color: transparent;
  color: #666666;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin: 0.3em 0.3em 0.3em 0em;
  display: inline-block;
}
/* line 70, ../../sass/screen.sass */
.core .container form {
  margin-bottom: 3em;
}
/* line 73, ../../sass/screen.sass */
.core .container p {
  margin: 0 0 10px;
}
/* line 76, ../../sass/screen.sass */
.core .container label {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.5em;
  padding: 0.1em;
  background-color: transparent;
}
/* line 83, ../../sass/screen.sass */
.core .container h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
/* line 86, ../../sass/screen.sass */
.core .container h2 {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1.25em;
}
/* line 91, ../../sass/screen.sass */
.core .container h3 {
  font-size: 1.5em;
  margin-bottom: 0.125em;
}
/* line 95, ../../sass/screen.sass */
.core .container h4 {
  font-size: 1.25em;
  margin-bottom: 0.0625em;
}
/* line 99, ../../sass/screen.sass */
.core .container h5 {
  font-size: 1.125em;
  margin-bottom: 0.03125;
}
/* line 103, ../../sass/screen.sass */
.core .container ul, .core .container ol {
  list-style: inherit;
  padding: 1em;
}
/* line 107, ../../sass/screen.sass */
.core .container li {
  padding-top: 0.6em;
}
/* line 110, ../../sass/screen.sass */
.core .container strong {
  font-weight: bold;
}
/* line 113, ../../sass/screen.sass */
.core .container .note {
  font-style: italic;
  padding-top: 10px;
  font-size: 0.8em;
}
/* line 118, ../../sass/screen.sass */
.core .container .footer {
  clear: left;
  float: left;
  width: 75%;
  margin-left: 0%;
  margin-right: -75%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  height: 3em;
  margin-top: 4em;
  padding-left: 0em;
}
/* line 125, ../../sass/screen.sass */
.core .container .centered {
  background: rgba(255, 255, 255, 0.95);
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 480px;
  height: 580px;
  margin-top: -290px;
  margin-left: -240px;
}
/* line 138, ../../sass/screen.sass */
.core .container .errorlist {
  color: red;
}
/* line 141, ../../sass/screen.sass */
.core .container .disable {
  color: #dddddd;
  border: 1px solid #dddddd;
}
/* line 146, ../../sass/screen.sass */
.core .container .el-icon-cogs {
  font-size: 50%;
}
/* line 149, ../../sass/screen.sass */
.core .container .el-icon-cogs-wrapper {
  padding: 0em;
  margin: 0em;
}
/* line 154, ../../sass/screen.sass */
.core .container .btn-inline {
  border: none;
  margin: 0em;
  padding: 0em;
  vertical-align: inherit;
  font-size: 1em;
}
/* line 161, ../../sass/screen.sass */
.core .container .panel .btn-inline {
  margin-right: 1em;
}
/* line 165, ../../sass/screen.sass */
.core .container .btn-focus {
  border: 1px solid #337ab7;
  color: #337ab7;
  font-weight: bold;
}
/* line 170, ../../sass/screen.sass */
.core .container .btn-danger {
  border: 1px solid #c0392b;
  color: #c0392b;
  font-weight: bold;
  color: #c0392b;
  background: none;
}
/* line 178, ../../sass/screen.sass */
.core .container .align-left {
  padding-left: 0em;
  margin-left: 0em;
}
/* line 183, ../../sass/screen.sass */
.core .container .editable-click, .core .container a.editable-click {
  color: #666666;
  border: none;
}
/* line 186, ../../sass/screen.sass */
.core .container .editable-click span, .core .container a.editable-click span {
  font-size: 0.6em;
}
/* line 189, ../../sass/screen.sass */
.core .container .draft {
  color: #c0392b;
  font-style: italic;
  font-family: sans-serif;
  font-size: 0.2em;
}
/* line 195, ../../sass/screen.sass */
.core .container .capitalize {
  display: inline-block;
}
/* line 198, ../../sass/screen.sass */
.core .container .capitalize::first-letter {
  text-transform: uppercase;
}
/* line 201, ../../sass/screen.sass */
.core .container .capitalize2 {
  text-transform: capitalize;
}

/* line 207, ../../sass/screen.sass */
nav.navbar a:not(.navbar-brand) {
  color: #337ab7 !important;
}
/* line 210, ../../sass/screen.sass */
nav.navbar a.navbar-brand img {
  position: relative;
  top: -0.3em;
}
/* line 213, ../../sass/screen.sass */
nav.navbar .navbar-text {
  margin-top: 18px;
}

/* line 219, ../../sass/screen.sass */
div#auth input, div#auth button {
  display: block;
  background-color: transparent;
  font-size: 1.5em;
  border: 1px solid #666666;
  padding: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  margin: 0.3em 0.3em 0.3em 0em;
}
/* line 229, ../../sass/screen.sass */
div#auth .registration-form {
  float: left;
  width: 50%;
  margin-left: 0%;
  margin-right: -50%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 231, ../../sass/screen.sass */
div#auth .registration-form .helptext {
  display: none;
}
/* line 233, ../../sass/screen.sass */
div#auth .registration-teaser {
  float: left;
  width: 75%;
  margin-left: 50%;
  margin-right: -125%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 235, ../../sass/screen.sass */
div#auth .registration-teaser img {
  width: 27em;
  margin-top: 6em;
}

/* line 241, ../../sass/screen.sass */
.index_background {
  background-size: cover;
  background-image: url("/static/compiled/images/Zuerich_Boerse.jpg");
  width: 100%;
  height: 100%;
  position: relative;
}

/* line 247, ../../sass/screen.sass */
.button-panel {
  margin-top: 15px;
}

/* line 249, ../../sass/screen.sass */
.leaf {
  font-size: 2em;
  position: inherit;
  top: 2em;
  right: 2.4em;
}

/* line 254, ../../sass/screen.sass */
.bg-success {
  padding: 1em;
}

/* line 256, ../../sass/screen.sass */
.pub_menu, .social_links {
  position: absolute;
  top: 1em;
  right: 1em;
}
/* line 260, ../../sass/screen.sass */
.pub_menu a, .social_links a {
  border: none;
  color: white;
  font-size: 1em;
}
/* line 264, ../../sass/screen.sass */
.pub_menu a:hover, .social_links a:hover {
  text-decoration: none;
}

/* line 267, ../../sass/screen.sass */
.social_links {
  bottom: 1em;
  top: auto;
}
/* line 271, ../../sass/screen.sass */
.social_links a {
  font-size: 2em;
}

/* line 276, ../../sass/screen.sass */
#auth .comment {
  margin-top: 5em;
}
/* line 278, ../../sass/screen.sass */
#auth input {
  display: block;
}

/* line 282, ../../sass/screen.sass */
div #add_shareholder {
  margin-bottom: 1em;
}

/* line 285, ../../sass/screen.sass */
div #shareholder_list table a {
  padding: 0em;
  padding-left: 1em;
  visibility: hidden;
  margin: 0em;
}

/* line 291, ../../sass/screen.sass */
div #shareholder_list table tr:hover a {
  visibility: visible;
}

/* line 294, ../../sass/screen.sass */
div #shareholder_list table tr td.summary {
  border-top: 1px solid black;
}

/* line 297, ../../sass/screen.sass */
div.captable_context_actions {
  text-align: right;
}

/* line 304, ../../sass/screen.sass */
div#optionplan .pdf_upload_preview {
  border: 1px solid gray;
}

/* line 309, ../../sass/screen.sass */
#company div.form {
  margin-bottom: 1em;
}
/* line 312, ../../sass/screen.sass */
#company h2 a {
  cursor: pointer;
}

/* line 317, ../../sass/screen.sass */
.blog .lead {
  font-size: 1em;
}
/* line 319, ../../sass/screen.sass */
.blog .well {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 324, ../../sass/screen.sass */
.blog .btn-primary {
  background-color: transparent;
  border: 1px solid #666666;
  color: #337ab7;
}
/* line 328, ../../sass/screen.sass */
.blog .row {
  margin-top: 4em;
}
/* line 330, ../../sass/screen.sass */
.blog .entry-tags {
  display: none;
}
/* line 332, ../../sass/screen.sass */
.blog .entry-shorturl {
  display: none;
}
/* line 334, ../../sass/screen.sass */
.blog .entry-footer {
  padding-left: 0px;
}
/* line 336, ../../sass/screen.sass */
.blog .entry-footer span {
  display: none;
}
/* line 338, ../../sass/screen.sass */
.blog .navbar-default {
  background-color: white;
}
/* line 340, ../../sass/screen.sass */
.blog .navbar-brand {
  font-size: 2em;
}
/* line 342, ../../sass/screen.sass */
.blog .navbar-header span {
  top: 0.3em;
  position: relative;
  left: -1em;
}
/* line 346, ../../sass/screen.sass */
.blog a {
  border: none;
  font-size: 1em;
}
/* line 349, ../../sass/screen.sass */
.blog a:active, .blog a:focus, .blog a:hover {
  color: #337ab7;
  text-decoration: none;
}
/* line 352, ../../sass/screen.sass */
.blog h2 {
  margin-bottom: 0em;
}
/* line 354, ../../sass/screen.sass */
.blog h2 a {
  padding: 0;
  margin: 0;
}
/* line 357, ../../sass/screen.sass */
.blog p {
  margin: 0 0 0 0;
}
/* line 359, ../../sass/screen.sass */
.blog small {
  font-size: 40%;
}
