{% extends "base_auth.html" %}
{% load i18n %}

{% block ng_app %}js.darg.app.optionplan{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>var optionplan_id = {{ optionplan.id}}</script>

<div ng_controller="OptionPlanController" id="optionplan">

  <h1>{% trans "Option plan details for" %} {% verbatim %}{{ optionplan.title }}{% endverbatim %}</h1>

  {% include "_form_errors.html" %}
  
  <h2>{% trans "Data" %}</h2>
  <table class="table table-striped">
    <tr>
      <td>{% trans "Board approval date" %}:</td>
      <td>{% verbatim %}<span editable-text="optionplan.board_approved_at" onaftersave="edit_board_approved_at()">{{ optionplan.board_approved_at }} <!--<span class="el-icon-pencil"></span>--></span>{% endverbatim %}</td>
    </tr>
    <tr>
      <td>{% trans "Exercise Price" %}:</td>
      <td>{% verbatim %}<span editable-text="optionplan.exercise_price" onaftersave="edit_exercise_price()()">{{ optionplan.exercise_price }} <!--<span class="el-icon-pencil"></span>--></span>{% endverbatim %}</td>
    </tr>
    <tr>
      <td>{% trans "Share count" %}:</td>
      <td>{% verbatim %}<span editable-text="optionplan.count" onaftersave="edit_county()">{{ optionplan.count }} <!--<span class="el-icon-pencil"></span>--></span>{% endverbatim %}</td>
    </tr>
    <tr>
      <td>{% trans "Comment" %}:</td>
      <td>{% verbatim %}<span editable-text="optionplan.comment" onaftersave="edit_comment()">{{ optionplan.comment }} <!--<span class="el-icon-pencil"></span>--></span>{% endverbatim %}</td>
    </tr>
    <tr>
      <td>{% trans "Security Type" %}:</td>
      <td>
      {% verbatim %}
        <span editable-select="optionplan.security" onaftersave="edit_security()" e-ng-options="c.title as c.readable_title for c in securities">
          {{ optionplan.security.readable_title || 'empty' }} 
          <!--<span class="el-icon-pencil"></span>-->
        </span>
      {% endverbatim %}
      </td>
    </tr>
  </table>

  <!-- pdf file -->
  <h2>{% trans "PDF of approved option plan" %}</h2>
    <div>
      {% verbatim %}
      <a ng-show="optionplan.pdf_file" href="{{ optionplan.pdf_file }}" title="Download">
        <img src="{{ optionplan.pdf_file_preview_url }}" alt="" ng-show="optionplan.pdf_file_preview_url" width="300" class="option-plan-preview"/>
      </a>
    </div>
    <div>
      <a ng-show="optionplan.pdf_file" href="{{ optionplan.pdf_file }}" title="Download">
        Download
      </a>
      <button class="button" ngf-select ng-model="file" ngf-multiple="false">Upload File</button>
    </div>
    <p ng-show="pdf_upload_success" class="alert alert-success pdf_upload_success" ng-cloak>
      {% endverbatim %}{% trans "Upload success" %}{% verbatim %}
    </p>
    <p ng-repeat="(name, errs) in pdf_upload_errors" class="alert alert-danger" ng-cloak>
      <strong>{{ errs[0] }}</strong>
    </p>
    <!--<div>
      Upload Log:
      <pre>{{log}}</pre>
    </div>-->
  {% endverbatim %}
<!-- end controller -->
</div> 
{% endblock %}
