{% extends "base_auth.html" %}
{% load i18n %}
{% load staticfiles %}

{% block ng_app %}js.darg.app.options{% endblock %}

{% block content %}
<div ng_controller="OptionsController">
  <h1>{% trans "Options" %}</h1>
  {% include "_form_errors.html" %}

  <div class="panel">
    <a class="btn-inline align-left" href="" ng-click="show_add_option_transaction_form()">{% trans "Transfer Option" %}</a>
    <a class="btn-inline " href="" ng-click="show_add_option_plan_form()">{% trans "Grant New Option Plan" %}</a>
  </div>

  <div id="add_option_transaction" ng-hide="!show_add_option_transaction">
    {% include "_add_option_transaction_form.html" %}
  </div>
  <div id="add_option_plan" ng-hide="!show_add_option_plan">
    {% include "_add_option_plan_form.html" %}
  </div>

  {% verbatim %}
  <div class="spinner" ng-hide="option_plans.length">
    <img src="{% endverbatim %}{% static "compiled/images/loading_spinner.gif" %}{% verbatim %}" />
  </div>
  <div id="options" ng-hide="!option_plans.length" ng-repeat="option_plan in option_plans">
    {% endverbatim %}
    <h2>
      {% trans "Optionplan" %}: {% verbatim %}{{ option_plan.title }}{% endverbatim %} {% trans "for" %} {% verbatim %}{{ option_plan.security.readable_title }}{% endverbatim %}
      <a href="/optionsplan/{% verbatim %}{{ option_plan.pk }}{% endverbatim %}/" class="el-icon-cogs-wrapper btn-inline">
         <span class="el-icon-cogs"></span>
      </a>
    </h2>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>{% trans "Grant Date" %}</th>
          <th>{% trans "Receipient" %}</th>
          <th class="text-right">{% trans "Share Count" %}</th>
          <th class="text-right">{% trans "Exercise Price" %}</th>
          <th>{% trans "Issuer" %}</th>
      </thead
      <tbody>
      {% verbatim %}
      <tr class="panel" ng-repeat="option_transaction in option_plan.optiontransaction_set">
        <td>
          <div>{{ option_transaction.bought_at | date : 'd.MM.yy' }}</div>
          <div ng-show="option_transaction.is_draft" class="draft">
            {% endverbatim %}
            {% trans "Draft" %}
            {% verbatim %}
          </div>
        </td>
        <td>{{ option_transaction.buyer.user.first_name }} {{ option_transaction.buyer.user.last_name }}</td>
        <td class="text-right">{{ option_transaction.count }}</td>
        <td class="text-right">{{ option_plan.exercise_price }}</td>
        <td>{{ option_transaction.seller.user.first_name }} {{ option_transaction.seller.user.last_name }}</td>
        <td>
          <div ng-show="option_transaction.is_draft">
            <a class="btn-inline" ng-click="delete_option_transaction(option_transaction)" href>
              {% endverbatim %}{% trans "delete" %}{% verbatim %}
            </a>
          </div>
          <div ng-show="option_transaction.is_draft" ng-click="confirm_option_transaction(option_transaction)" href>
            <a class="btn-inline">
              {% endverbatim %}{% trans "confirm" %}{% verbatim %}
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    {% endverbatim %}
    <div class="panel" ng-show="!option_plans.length">
      <div class="clearfix">
        <em>{% trans "No options yet." %}</em>
      </div>
    </div>
  </div>
</div>
{% endblock %}
