{% extends "base_auth.html" %}
{% load i18n %}
{% load staticfiles %}

{% block ng_app %}js.darg.app.positions{% endblock %}

{% block content %}
<div ng_controller="PositionsController">
  <h1>{% trans "Positions" %}</h1>
  <p class="explaination">
    {% trans "Use Transactions to record each shareholders state of shares. For initial foundation transfer shares from company to..."%}
  </p>
  {% include "_form_errors.html" %}

  <div class="panel">
    <a class="btn-inline align-left add-position" href="" ng-click="show_add_position_form()">{% trans "Transfer Shares" %}</a>
    <a class="btn-inline add-capital" href="" ng-click="show_add_capital_form()">{% trans "Increase Capital" %}</a>
    <a class="btn-inline split-shares" href="" ng-click="show_split_form()">{% trans "Split Shares" %}</a>
  </div>

  <div id="add_position" ng-hide="!show_add_position">
    {% include "_add_position_form.html" %}
  </div>
  <div id="add_capital" ng-hide="!show_add_capital">
    {% include "_add_capital_form.html" %}
  </div>
  <div id="split-shares" ng-hide="!show_split">
    {% include "_split_shares_form.html" %}
  </div>

  <div id="positions" ng-hide="!positions.length">
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>{% trans "Buy Date" %}</th>
          <th>{% trans "Buyer" %}</th>
          <th>{% trans "Security" %}</th>
          <th class="text-right">{% trans "Share Count" %}</th>
          <th class="text-right">{% trans "Price" %}</th>
          <th>{% trans "Seller" %}</th>
          <th>{% trans "Comment" %}</th>
          <th></th>
      </thead
      <tbody>
      {% verbatim %}
      <tbody ng-repeat="position in positions  | orderBy:'-bought_at' ">
        <tr ng-show="position.is_split && !positions[$index-1].is_split">
          <td>{{ position.bought_at | date : 'd.MM.yy' }}</td>
          <td colspan="7">
            {% endverbatim %}{% trans "Grouped split transactions." %}{% verbatim %}
            <a ng-click="toggle_show_split_data()" class="btn-inline" ng-hide="show_split_data">
              {% endverbatim %}{% trans "Show" %}{% verbatim %}
            </a>
            <a ng-click="toggle_show_split_data()" class="btn-inline" ng-show="show_split_data">
              {% endverbatim %}{% trans "Hide" %}{% verbatim %}
            </a>
          </td>
        </tr>
        <tr class="panel" ng-hide="position.is_split && !show_split_data">
          <td>
            <div>{{ position.bought_at | date : 'd.MM.yy' }}</div>
            <div ng-show="position.is_draft" class="draft">
              {% endverbatim %}
              {% trans "Draft" %}
              {% verbatim %}
            </div>
          </td>
          <td>{{ position.buyer.user.first_name }} {{ position.buyer.user.last_name }}</td>
          <td>
            {{ position.security.readable_title }} 
            <span class="note" ng-show="position.security.track_numbers && position.readable_number_segments">
              (#{{ position.readable_number_segments }})
            </span>
          </td>
          <td class="text-right">{{ position.count }}</td>
          <td class="text-right">{{ position.value }}</td>
          <td>{{ position.seller.user.first_name }} {{ position.seller.user.last_name }}</td>
          <td>{{ position.comment }}</td>
          <td>
            <div ng-show="position.is_draft">
              <a class="btn-inline" ng-click="delete_position(position)" href>
                {% endverbatim %}{% trans "delete" %}{% verbatim %}
              </a>
            </div>
            <div ng-show="position.is_draft">
              <a class="btn-inline" ng-click="confirm_position(position)" href>
                {% endverbatim %}{% trans "confirm" %}{% verbatim %}
              </a>
            </div>
          </td>
        </tr>
        <tr ng-show="show_split_data && position.is_split && !positions[$index+1].is_split">
          <td colspan="7">
            {% endverbatim %}{% trans "--- End of split transactions ---" %}{% verbatim %}
          </td>
        </tr>
      </tbody>
    </table>
    <div class="panel" ng-show="!shareholders.length">
      <div class="clearfix">
        <em>{% trans "No Postions yet." %}</em>
      </div>
    </div>
  </div> <!-- END Positions -->

  <div class="empty" ng-hide="positions.length || positionsLoading">
    {% endverbatim %}{% trans "No positions" %}{% verbatim %}
  </div>
  {% endverbatim %}

  <div class="spinner" ng-show="positionsLoading">
    <img src="{% static "compiled/images/loading_spinner.gif" %}" />
  </div>

</div>
{% endblock %}
