{% extends "base_auth.html" %}
{% load i18n %}

{% block ng_app %}js.darg.app.positions{% endblock %}

{% block content %}
<div ng_controller="PositionsController">
  <h1>{% trans "Positions" %}</h1>
  {% include "_form_errors.html" %}

  <div class="panel">
    <a class="btn align-left" href="" ng-click="show_add_position_form()">{% trans "Transfer Shares" %}</a> 
    <a class="btn" href="" ng-click="show_add_capital_form()">{% trans "Increase Kapital" %}</a>
  </div>

  <div id="add_position" ng-hide="!show_add_position">
    {% include "_add_position_form.html" %}
  </div>
  <div id="add_capital" ng-hide="!show_add_capital">
    {% include "_add_capital_form.html" %}
  </div>
  
  <div id="positions" ng-hide="!positions.length"> 
    <h2>{% trans "Your Positions" %}</h2>
    <table class="table table-hover">
      <caption></caption>
      <thead>
        <tr>
          <th>{% trans "Buy Date" %}</th>
          <th>{% trans "Buyer" %}</th>
          <th>{% trans "Security" %}</th>
          <th class="text-right">{% trans "Share Count" %}</th>
          <th class="text-right">{% trans "Price" %}</th>
          <th>{% trans "Seller" %}</th>
      </thead
      <tbody>
      {% verbatim %}
      <tr class="panel" ng-repeat="position in positions">
        <td>{{ position.bought_at | date : 'd.MM.yy' }}</td>
        <td>{{ position.buyer.user.first_name }} {{ position.buyer.user.last_name }}</td>
        <td>{{ position.security.readable_title }}</td>
        <td class="text-right">{{ position.count }}</td>
        <td class="text-right">{{ position.value }}</td>
        <td>{{ position.seller.user.first_name }} {{ position.seller.user.last_name }}</td>
      </tr>
      </tbody>
    </table>
    {% endverbatim %}
    <div class="panel" ng-show="!shareholders.length">
      <div class="clearfix">
        <em>{% trans "No Postions yet." %}</em>
      </div>
    </div>
  </div>
</div> 
{% endblock %}
