{% extends "base_auth.html" %}
{% load i18n %}

{% block ng_app %}js.darg.app.shareholder{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>
  var shareholder_id = {{ shareholder.id}};
</script>

<div ng_controller="ShareholderController">

  <h1>{% trans "Shareholder Details" %}</h1>

  {% include "_form_errors.html" %}

  <h2>{% trans "Shareholder Data" %}</h2>

  {# gafi warning #}
  {% if not shareholder.validate_gafi.is_valid %}
  <div class="alert alert-warning alert-dismissible alert-gafi"  role="alert">
    <div> <strong>{% trans "GAFI Validierung:" %}</strong></div>
    {% for error in shareholder.validate_gafi.errors %}
    <div>{{ error }}</div>
    {% endfor %}
    <div> {% trans "Please request the shareholder to complete his data." %}</div>
  </div>
  {% endif %}

  {# core data #}
  <table class="table table-striped">
    <tr class="shareholder-number">
      <td>{% trans "Shareholder Number" %}:</td>
      <td>
        {% verbatim %}<span editable-text="shareholder.number" onaftersave="edit_shareholder()">{{ shareholder.number || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>
        {% trans "Shareholder Name" %}:
      </td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.first_name" onaftersave="edit_shareholder()">{{ shareholder.user.first_name || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
        {% verbatim %}<span editable-text="shareholder.user.last_name" onaftersave="edit_shareholder()">{{ shareholder.user.last_name || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr class="user-email">
      <td>{% trans "Shareholder Email" %}:</td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.email" onaftersave="edit_shareholder()">{{ shareholder.user.email || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Shareholder Company Name" %}:</td>
      <td>
        {% verbatim %}<span editable-text="shareholder.user.userprofile.company_name" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.company_name || '' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>
        <strong>{% trans "Address" %}:</strong><br/>
        {% trans "Street" %}<br/>
        {% trans "Zip" %} {% trans "City" %}<br/>
        {% trans "Province" %}<br/>
        {% trans "Country" %}
      </td>
      <td>
        <br/>
        {% verbatim %}
        <span editable-text="shareholder.user.userprofile.street" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.street || 'Street' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-text="shareholder.user.userprofile.postal_code" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.postal_code || 'PLZ' }} <span class="el-icon-pencil"></span></span>
        <span editable-text="shareholder.user.userprofile.city" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.city || 'City' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-text="shareholder.user.userprofile.province" onaftersave="edit_shareholder()">{{ shareholder.user.userprofile.province || 'Province' }} <span class="el-icon-pencil"></span></span>
        <br/>
        <span editable-select="shareholder.user.userprofile.country" onaftersave="edit_shareholder()" e-ng-options="c as c.name for c in countries">
          {{ shareholder.user.userprofile.country.name || 'Country' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Shareholder Language" %}:</td>
      <td>
        {% verbatim %}
        <span editable-select="shareholder.user.userprofile.language" onaftersave="edit_shareholder()" e-ng-options="l as l.name for l in languages">
          {{ shareholder.user.userprofile.readable_language || 'Language' }}
          <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr class="birthday">
      <td>{% trans "Shareholder Birthday" %}:</td>
      <td class="date-field">
        {% verbatim %}
        <span editable-bsdate="shareholder.user.userprofile.birthday"
              onaftersave="edit_shareholder()"
              e-showWeeks=false
              e-is-open="datepicker.opened"
              e-ng-click="open_datepicker()"
              e-datepicker-options="datepicker.options"
              e-show-button-bar="true"
              e-close-text="Schliessen"
              e-clear-text="Leeren"
              e-init-date=""
              e-current-text="Heute"
              e-datepicker-popup="{{datepicker.format}}"
              >
            {{ (shareholder.user.userprofile.birthday|date:"dd.MM.yy") || 'nicht angegeben' }}
            <span class="el-icon-pencil"></span>
        </span>
        {% endverbatim %}
      </td>
    </tr>
    <tr>
      <td>{% trans "Value of all shares according to last transaction" %}:</td>
      <td>{{ shareholder.share_value }}</td>
    </tr>
  </table>

  <h2>{% trans "Owned Stock" %}</h2>
  <p>{% trans "Count Shares Total" %}: {{ shareholder.share_count }}</p>
  <p>{% trans "% Ownership" %}: {{ shareholder.share_percent }}% </p>
  <table class="stock table table-striped">
    <thead><tr>
	  <th>{% trans "security" %}</th>
      <th>{% trans "count" %}</th>
      <th>{% trans "segments" %}</th>
    </tr></thead>
	{% for security in securities %}
      <tr class="security"><td>{{ security.get_title_display }}</td><td>{{ security.count }}</td>{% if security.segments %}<td>{{ security.segments }}</td>{% else %}<td></td>{% endif %}</tr>
	{% endfor %}
  </table>

  <!-- <a class="btn btn-focus btn-danger" title="{% trans "Delete shareholder" %}" >{% trans "Delete shareholder" %}</a> -->

</div>
{% endblock %}
