{% load i18n %}

<div id="add-operator-form" class="form" ng-show="show_add_operator_form">
  {% trans "To add a new operator enter the email of a registered user" %}:
  {% include "_form_errors.html" %}

  {% verbatim %}
  <form class="form-inline">
    <div class="form-group block-level">
      <input type="email" class="form-control" ng-model="newOperator.user.email" placeholder="Email" required>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="toggle_add_operator_form()">{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</button>
      <button class="btn btn-focus" ng-click="add_operator()">{% endverbatim %}{% trans "Add Operator" %}{% verbatim %}</button>
    </div>
  </form>

  {% endverbatim %}
</div>
