{% extends "base_auth.html" %}
{% load i18n %}

{% block ng_app %}js.darg.app.company{% endblock %}

{% block content %}

<!-- required for angular API call -->
<script>var company_id = {{ company.id}}</script>

<div ng_controller="CompanyController" id="company">

  <h1>{% trans "Company Details for" %} {% verbatim %}{{ company.name }}{% endverbatim %}</h1>

  {% include "_form_errors.html" %}

  <h2>{% trans "Data" %}</h2>
  <table class="table table-striped">
    <tr>
      <td>{% trans "Company Name" %}:</td>
      <td>{% verbatim %}<span editable-text="company.name" onaftersave="edit_company()">{{ company.name || 'empty' }} <span class="el-icon-pencil"></span></span>{% endverbatim %}</td>
    </tr>
    <tr>
      <td>{% trans "Company Share Count" %}:</td>
      <td>{% verbatim %}<span editable-text="company.share_count" onaftersave="edit_company()">{{ company.share_count }} <span class="el-icon-pencil"></span></span>{% endverbatim %}</td>
    </tr>
    <tr>
      <td>{% trans "Company Headquarter Country" %}:</td>
      <td>
      {% verbatim %}
        <span editable-select="company.country" onaftersave="edit_company()" e-ng-options="c as c.name for c in countries">
          {{ company.country.name || 'empty' }}
          <span class="el-icon-pencil"></span>
        </span>
      {% endverbatim %}
      </td>
    </tr>
  </table>

  <!-- SECURITIES -->
  {% if company.security_set.exists %}
    <h2>{% trans "Securities" %}</h2>
    <table class="table table-striped">
    {% for security in company.security_set.all %}
       <tr><td>{{ security.get_title_display}} </td><td>{{security.count}}</td></tr>
    {% endfor %}
    </table>
    {% trans 'Please contact us at our' %}
    <a href="mailto:jirka.schaefer@das-aktienregister.ch" class="btn-inline">customer service desk</a>
    {% trans 'for getting more security types added' %}
  {% endif %}

  <!-- ADMINS -->
  {% if company.operator_set.exists %}
    <h2>
      {% trans "Administrators" %}
      <a ng-click="toggle_add_operator_form()" title="{% trans "add operator" %}" class="btn-inline" ng-hide="show_add_operator_form">
        +
      </a>
    </h2>

    {% include "_add_operator_form.html" %}

    {% verbatim %}
    <table class="table table-striped">
      <tr ng-repeat="operator in operators">
        <td>
          {{ operator.user.first_name }} {{ operator.user.last_name }}
        </td>
        <td>
          {{operator.user.email}}
        </td>
        <td>
          <span ng-hide="operator.is_myself" ng-click="delete_operator(operator.id)">
            <span class="el-icon-remove-circle"></span>
          </span>
        </td>
      </tr>
    </table>
    {% endverbatim %}

  {% endif %}

  <!-- OPTIONS -->
  {% if company.optionplan_set.exists %}
    <h2>{% trans "Option Plans" %}</h2>

    <table class="table table-striped">
    {% for optionplan in company.optionplan_set.all %}
      <tr><td>{% trans "Options Plan Name" %}</td><td><a href="{% url "optionplan" optionplan.pk %}" title="{% trans "Edit Option Plan" %}" class="btn align-left">{{ optionplan.title }}</a></td></tr>
    {% endfor %}
    </table>

  {% endif %}

</div>
{% endblock %}
