{% load i18n %}

<!-- {% trans "Please enter your position data:" %} -->
{% verbatim %}
<div>
  <form class="form-inline">
    <div class="form-group block-level">
      <div>
        {% endverbatim %} {% trans "On (date)" %} {% verbatim %}
        <input type="date" class="form-control" ng-model="newPosition.bought_at" translate translate-attr-placeholder="Date">
        {% endverbatim %} {% trans "from" %} {% verbatim %}
        <select type="email" class="form-control" ng-model="newPosition.seller" ng-options="shareholder as shareholder.full_name for shareholder in shareholders" translate translate-attr-placeholder="Seller">
          <option value='' disabled>{% endverbatim %}{% trans "Seller" %}{% verbatim %}</option>
        </select>
        {% endverbatim %} {% trans "to" %} {% verbatim %}
        <select class="form-control" ng-model="newPosition.buyer" ng-options="shareholder as shareholder.full_name for shareholder in shareholders" translate translate-attr-placeholder="Buyer">
          <option value='' disabled>{% endverbatim %}{% trans "Buyer" %}{% verbatim %}</option>
        </select>
      </div>
      <div>
        <select class="form-control" ng-model="newPosition.security" ng-options="security as security.readable_title for security in securities" translate translate-attr-placeholder="Security">
          <option value='' disabled>{% endverbatim %}{% trans "Security" %}{% verbatim %}</option>
        </select>
        <input type="number" class="form-control" ng-model="newPosition.count" translate translate-attr-placeholder="Count" ng-maxlength="5">
        <input type="number" class="form-control" ng-model="newPosition.value" translate translate-attr-placeholder="Payed Price" ng-maxlength="10">
        <input type="text" class="form-control" ng-model="newPosition.comment" translate translate-attr-placeholder="Comment">
      </div>

      <button class="btn btn-default" ng-click="hide_form()">{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</button>
      <button class="btn btn-focus" ng-click="add_position()">{% endverbatim %}{% trans "Add Position" %}{% verbatim %}</button>
    </div>

  </form>
</div>
{% endverbatim %}
