{% load i18n %}

{% trans "Please enter your company name:" %}
{% verbatim %}
<div>
  <form class="form-inline">
    <div class="form-group block-level">
      <input type="text" class="form-control" ng-model="newCompany.name" placeholder="Name">
      <input type="number" class="form-control" ng-model="newCompany.count" placeholder="Share Count">
      <input type="number" class="form-control" ng-model="newCompany.face_value" placeholder="Face Value">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="add_company()">{% endverbatim %}{% trans "Add Company" %}{% verbatim %}</button>
    </div>
  </form>
</div>
{% endverbatim %}
