{% load i18n %}

{% trans "Please enter your option plan data:" %}
{% verbatim %}
<div>
  <form class="form-inline">
    <div class="form-group block-level">
        {% endverbatim %}{% trans "Board Approval Date" %}{% verbatim %}
        <span class="input-group date-field">
          <input type="text" class="form-control"
            ng-model="newOptionPlan.board_approved_at"
            uib-datepicker-popup="{{ datepicker.format }}"
            datepicker-options="datepicker.options"
            is-open="datepicker.opened"
            show-button-bar="true"
            close-text="Schliessen"
            clear-text="Leeren"
            current-text="Heute"
            />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_datepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      <input type="text" class="form-control" ng-model="newOptionPlan.title" translate translate-attr-placeholder="Title" ng-maxlength="255">
      <select class="form-control" ng-model="newOptionPlan.security" ng-options="security as security.readable_title for security in securities" translate translate-attr-placeholder="Underlying Asset" ng-change="show_available_number_segments_for_new_option_plan();">
        <option value='' disabled>{% endverbatim %}{% trans "Security" %}{% verbatim %}</option>
      </select>
      <input type="number" class="form-control" ng-model="newOptionPlan.exercise_price" translate translate-attr-placeholder="Exercise Price" ng-maxlength="10">
      <input type="number" class="form-control" ng-model="newOptionPlan.count" translate translate-attr-placeholder="Share Count" ng-maxlength="5">
        <input type="text" class="form-control" ng-model="newOptionPlan.number_segments" translate translate-attr-placeholder="Share IDs" ng-maxlength="255" ng-show="newOptionPlan.security.track_numbers" uib-popover="{{numberSegmentsAvailable}}" popover-placement="bottom">
      <input type="text" class="form-control" ng-model="newOptionPlan.comment" translate translate-attr-placeholder="Comment" ng-maxlength="255">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="hide_form()">{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</button>
      <button class="btn btn-focus" ng-click="add_option_plan()">{% endverbatim %}{% trans "Add Option-Plan" %}{% verbatim %}</button>
    </div>
  </form>
  <div class="note">{% endverbatim %}{%  trans "Approved Option Plan PDF can be uploaded later in Plan's Edit Form" %}{% verbatim %}</div>
</div>
{% endverbatim %}
