{% load i18n %}

{% trans "Please enter your Option data:" %}
{% verbatim %}
<div>
  <form class="form-inline">
    <div class="form-group block-level">
        {% endverbatim %}{% trans "Buying Date" %}{% verbatim %}
        <span class="input-group date-field">
          <input type="text" class="form-control"
            ng-model="newOptionTransaction.bought_at"
            uib-datepicker-popup="{{ datepicker.format }}"
            datepicker-options="datepicker.options"
            is-open="datepicker.opened"
            show-button-bar="true"
            close-text="Schliessen"
            clear-text="Leeren"
            current-text="Heute"
            />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open_datepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </span>
      <select class="form-control" ng-model="newOptionTransaction.buyer" ng-options="shareholder as shareholder.user.email for shareholder in shareholders" translate translate-attr-placeholder="Buyer">
        <option value='' disabled>{% endverbatim %}{% trans "Buyer" %}{% verbatim %}</option>
      </select>
      <select class="form-control" ng-model="newOptionTransaction.option_plan" ng-options="optionplan as optionplan.title for optionplan in option_plans" translate translate-attr-placeholder="Option Plan"  ng-change="show_available_number_segments_for_new_option_transaction();">
        <option value='' disabled>{% endverbatim %}{% trans "Option Plan" %}{% verbatim %}</option>
      </select>
      <input type="number" class="form-control" ng-model="newOptionTransaction.count" translate translate-attr-placeholder="Share Count" ng-maxlength="5">
      <select type="email" class="form-control" ng-model="newOptionTransaction.seller" ng-options="shareholder as shareholder.user.email for shareholder in shareholders" translate translate-attr-placeholder="Seller" ng-change="show_available_number_segments_for_new_option_transaction();">
        <option value='' disabled>{% endverbatim %}{% trans "Seller" %}{% verbatim %}</option>
      </select>
        <input type="text" class="form-control" ng-model="newOptionTransaction.number_segments" translate translate-attr-placeholder="Share IDs" ng-maxlength="255" ng-show="newOptionTransaction.option_plan.security.track_numbers" uib-popover="{{numberSegmentsAvailable}}" popover-placement="bottom">
      <input type="number" class="form-control" ng-model="newOptionTransaction.vesting_months" translate translate-attr-placeholder="Vesting Period (months)" ng-maxlength="5">
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="hide_form()">{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</button>
      <button class="btn btn-focus" ng-click="add_option_transaction()">{% endverbatim %}{% trans "Add Option" %}{% verbatim %}</button>
    </div>
  </form>
</div>
{% endverbatim %}
