{% load i18n %}

{% trans "Please enter your position data:" %}
{% verbatim %}
<div>
  <form class="form-inline">
    <div class="form-group block-level">
      <input type="date" class="form-control" ng-model="newPosition.bought_at" placeholder="Date">
      <select class="form-control" ng-model="newPosition.buyer" ng-options="shareholder as shareholder.user.email for shareholder in shareholders" placeholder="Buyer"></select>
      <input type="number" class="form-control" ng-model="newPosition.count" placeholder="Count" ng-maxlength="5">
      <input type="number" class="form-control" ng-model="newPosition.value" placeholder="Value" ng-maxlength="10">
      <select type="email" class="form-control" ng-model="newPosition.seller" ng-options="shareholder as shareholder.user.email for shareholder in shareholders" placeholder="Seller"></select>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="add_position()">{% endverbatim %}{% trans "Add Position" %}{% verbatim %}</button>
    </div>
  </form>
</div>
{% endverbatim %}
