{% load i18n %}

{% trans "Please enter your share split data" %}
{% verbatim %}
<div>
  <form class="form-inline">
    <div class="form-group block-level">
      <input type="date" class="form-control" ng-model="newSplit.execute_at" placeholder="Date" required>
      <input type="number" class="form-control" ng-model="newSplit.dividend" placeholder="Ratio: Dividend" ng-maxlength="2">:
      <input type="number" class="form-control" ng-model="newSplit.divisor" placeholder="Ratio: Divisor" ng-maxlength="2">
      <select class="form-control" ng-model="newSplit.security" ng-options="security as security.readable_title for security in securities" placeholder="Security">
        <option value='' disabled>{% endverbatim %}{% trans "Security" %}{% verbatim %}</option>
      </select>
      <input type="text" class="form-control" ng-model="newPosition.comment" placeholder="Comment">
      <p class="note" >{% endverbatim %} {% trans "Please note that the split will leave partial share rights unhandled. You must assign those options to the shareholders and either pay, trade or compensate them. Create a new transaction for these manually please. Once the split is complete we send you an email with the partial share options for each shareholder." %}{% verbatim %}</p>
    </div>
    <div class="form-group">
      <button class="btn btn-default" ng-click="hide_form()">{% endverbatim %}{% trans "Cancel" %}{% verbatim %}</button>
      <button class="btn btn-focus" ng-click="add_split()">{% endverbatim %}{% trans "Add Share Split" %}{% verbatim %}</button>
    </div>
  </form>
</div>
{% endverbatim %}
