{% extends "base.html" %}
{% load i18n %}
{% load humanize %}

{% block inline_styles %}
<style>
    @page {
        size: a4 landscape;
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content;
            left: 50pt; top: 50pt; height: 60pt; margin-right:50pt
        }
        @frame header_frame {           /* Static Frame */
            -pdf-frame-content: header_content2;
            left: 700pt; top: 50pt; height: 60pt; margin-right:50pt; float: right; text-align: right
        }

        @frame content_frame {          /* Content Frame */
            left: 50pt; top: 121pt; height: 430pt; width:100%; margin-right:50pt; position: relative
        }
        @frame footer_frame {           /* Another static Frame */
            -pdf-frame-content: footer_content;
            left: 50pt; top: 552pt; height: 20pt; margin-right:50pt
        }

    }

    table, thead, tr, td, div, span {
        font-size: 11pt;
    }

    .company-info {
        background-color: #f7f7f7;
        padding: 1em 1em 0em 1em;
    }

    .heading {
        font-size: 14pt;
    }

    .text-right {
        font-align: right;
    }

    #footer_content {
        font-size: 8pt
    }
</style>
{% endblock %}

{% block body_block %}
  {% block content %}

    <!-- Content for Static Frame 'header_frame' -->
    <div id="header_content">
      {% trans "Your Shareholders for" %}
      <h2 class="heading">{{ company.name }}</h2>
    </div>

    <!-- right aligned logo -->
    {% if company.get_logo_url %}
    <div id="header_content2">
      <img src="{{ company.get_logo_url }}" alt="company logo" />
    </div>
    {% endif %}


    <!-- Content for Static Frame 'footer_frame' -->
    <div id="footer_content">
        {% trans "Das Aktienregister" %} - {% trans "Page" %} <pdf:pagenumber>
        {% trans "of" %} <pdf:pagecount> -
        {% trans "Date generated" %}: {{ today }}
    </div>

    <!-- HTML Content -->
    <div class="company-info">
        <div>{% trans "Total company capital" %}: {{ total_capital|floatformat:"0"|intcomma }} {{ currency }}</div>
        {% if provisioned_capital %}
        <div>{% trans "Provisioned Capital" %}: {{ provisioned_capital|floatformat:"0"|intcomma }} {{ currency }}</div>
        {% endif %}
        {% if company.founded_at %}
        <div style="margin-bottom: 2em">{% trans "Founding Date" %}: {{ company.founded_at}} </div>
        {% endif %}
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th align="left">{% trans "Name" %}</th>
          <th align="left">{% trans "Email" %}</th>
          <th align="right">{% trans "Shareholder Number" %}</th>
          <th align="right">{% trans "Shares (%)" %}</th>
        </tr>
      </thead>
    </table>

    {% for shareholder in company.get_active_shareholders %}
    <table>
      <tr class="panel">
        <td>
          {{ shareholder.user.first_name }} {{ shareholder.user.last_name }}
        </td>
        <td>
          {{ shareholder.user.email }}
        </td>
        <td align="right">
          {{ shareholder.number }}
        </td>
        <td align="right">
          {{ shareholder.share_count|intcomma }} ({{shareholder.share_percent }})
        </td>
      </tr>
    </table>
    {% endfor %}

    {% if company.get_active_option_holders %}

    <h2 class="heading">{% trans "Options" %}</h2>

    <table class="table table-hover">
      <thead>
        <tr>
          <th align="left">{% trans "Name" %}</th>
          <th align="left">{% trans "Email" %}</th>
          <th align="right">{% trans "Shareholder Number" %}</th>
          <th align="right">{% trans "Optionen (%)" %}</th>
        </tr>
      </thead>
    </table>

    {% for shareholder in company.get_active_option_holders %}
    <table>
      <tr class="panel">
        <td>
          {{ shareholder.user.first_name }} {{ shareholder.user.last_name }}
        </td>
        <td>
          {{ shareholder.user.email }}
        </td>
        <td align="right">
          {{ shareholder.number }}
        </td>
        <td align="right">
          {{ shareholder.options_count|intcomma }} ({{shareholder.options_percent }})
        </td>
      </tr>
    </table>
    {% endfor %}
    {% endif %}
  {% endblock %}
{% endblock %}
