{% extends "base.html" %}
{% load i18n static %}

{% block ng_app %}js.darg.app.index{% endblock %}

{% block body_class%}index_background{% endblock %}

{% block body_block %}

<div class="intro" ng_controller="IndexController">
  <header class="home core">
    <div class="container">
      <div class="logo">
        <span>{% trans "Das Aktienregister" %}</span>
        <span class="el-icon-leaf"></span>
      </div>
      <div class="menu">
        <a href="{% url "auth_login" %}" title="Login" class="btn-inline">{% trans "Login" %}</a>
        <a href="/blog/" title="Blog" class="btn-inline">{% trans "Blog" %}</a>
        |
        <a href="{% url "registration_register" %}" title="{% trans "Try for free" %}" class="btn btn-default btn-white">
          {% trans "Try for free" %}
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <h1>{% trans "Das Online-Aktienbuch" %}</h1>
    <h2>{% trans "Mit Sicherheit gesetzeskonform durch automatische Validierung." %}</h2>
    <a href="{% url "registration_register" %}" title="{% trans "Try for free" %}" class="btn btn-default btn-white">
      {% trans "Try for free" %}
    </a>
    <div class="main-screenshot chrome animated fadeInUp">
      <div class="toolbar">
        <div class="circle-wrap">
          <span class="circles"></span>
        </div>
      </div>
      <div class="screenshot"></div>
    </div>
  </div>
  <div class="benefits">
    <div class="container">
      <ul>
        <li>{% trans "Eingabe alle Daten mit maximaler Effizienz." %}</li>
        <li>{% trans "Revisionssichere Ablage." %}</li>
        <li>{% trans "Automatische Validierung der Daten." %}</li>
        <li>{% trans "10 Jahre Datengarantie." %}</li>
        <li>{% trans "Aktienbuch als PDF herunterladen." %}</li>
      </ul>
      <a href="{% url "registration_register" %}" title="{% trans "Try for free" %}" class="btn btn-default btn-focus">
        {% trans "Try for free" %}
      </a>
    </div>
  </div>
  <div class="summary">
    <div class="container">
      <blockquote>
        <p class="says">
          {% trans "Die Automatische Validierung verhindert Fehler und sichert maximale Gesetzeskonformitaet. Das Online-Aktienbuch macht die Pflege schnell und effizient, damit Zeit frei wird fuer die wirklichen Herausforderungen" %}
        </p>
        <p class="author"></p>
      </blockquote>
    </div>
  </div>
  <footer>
    <div class="container">
      {% trans "A service provided by KKD Komm. GmbH" %}
    </div>
  </footer>
</div>

{% endblock %}
