{% extends "base.html" %}
{% load i18n %}

{% block ng_app %}js.darg.app.index{% endblock %}

{% block body_class%}index_background{% endblock %}

{% block body_block %}
  <div class="index_background" >
    <div class="centered">
      <div><h1>{% trans "Das Aktienregister" %}</h1></div>
      <!--<div>{% trans "Administrate your shareholder data. <br />Be compliant - simple and efficient." %}</div>-->
      <div>{% trans "IMPORTANT: Excel does not fulfill legal requirements for a share register!" %}</div>
        <ul>
          <li>{% trans "Rapid Shareholder documentation" %}</li>
          <li>{% trans "Audit trail proof transaction recording" %}</li>
          <li>{% trans "Easy CapTable printout for General Meetings" %}</li>
          <li>{% trans "Easy data export via CSV" %}</li>
        </ul>
      <div class="button-panel">
        {% trans "We are currently in private Beta. Please leave your email address to receive an invitation soon!" %}<br/><br/>
      </div>
      <!--
      <div class="button-panel">
        <a href="{% url "auth_login" %}" >.</a>
        <a href="{% url "registration_register" %}" >.</a>
      </div>
      -->
      <div ng_controller="IndexController">
        {% include "_form_errors.html" %}
        {% verbatim %}
        <form class="form-inline" ng-show="show_add_invitee == true" name="inviteeForm">
          <input type="text" class="form-control" ng-model="newInvitee.email" translate translate-attr-placeholder="{% endverbatim %}{% trans "Your Email" %}{% verbatim %}" required>
          <button class="btn btn-default btn-focus" ng-click="add_invitee()" ng-disabled="inviteeForm.$invalid">
            {% endverbatim %}{% trans "Request Invitation" %}
          </button>
        </form>
        <div class="bg-success" ng-hide="show_add_invitee == true">
          {% trans "Thanks you. We will be back to you ASAP!" %}
        </div>
      </div>

      <div class="leaf"><span class="el-icon-leaf"></span></div>
    </div>
  </div>

  <!-- Social Links -->
  <div class="social_links">
    <a href="https://twitter.com/DAktienregister" ><span class="el-icon-twitter"></span></a>
  </div>

  <!-- public menu -->
  <div class="pub_menu">
    <a href="{% url "auth_login" %}" title="Login">{% trans "Login" %}</a>
    <a href="/blog/" title="Blog">{% trans "Blog" %}</a>
  </div>

{% endblock %}
