{% extends "base.html" %}
{% load i18n static zinnia %}

{% block ng_app %}js.darg.app.index{% endblock %}

{% block body_class%}index_background{% endblock %}

{% block body_block %}

<div class="intro" ng_controller="IndexController">
  <header class="home core">
    <div class="container">
      <div class="logo">
        <span>{% trans "Das Aktienregister" %}</span>
        <span class="el-icon-leaf"></span>
      </div>
      <div class="menu">
        <a href="/kostenloses-muster-aktienbuch/" title="Gratis Aktienbuch Muster" class="btn-inline orange">
          {% trans "Gratis Aktienbuch-Muster" %}
        </a>
        <a href="{% url "auth_login" %}" title="Login" class="btn-inline">{% trans "Login" %}</a>
        <a href="/blog/" title="Blog" class="btn-inline">{% trans "Blog" %}</a>
        |
        <a href="{% url "registration_register" %}" title="{% trans "Try for free" %}" class="btn btn-default btn-white">
          {% trans "Try for free" %}
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <h1>{% trans "Das Online-Aktienbuch" %}</h1>
    <h2>{% trans "Mit Sicherheit gesetzeskonform durch automatische Validierung." %}</h2>
    <a href="{% url "registration_register" %}" title="{% trans "Try for free" %}" class="btn btn-default btn-white">
      {% trans "Try for free" %}
    </a>
    <div class="main-screenshot chrome animated fadeInUp">
      <div class="toolbar">
        <div class="circle-wrap">
          <span class="circles"></span>
        </div>
      </div>
      <div class="screenshot"></div>
    </div>
  </div>
  <div class="price-badge">
    <div class="tagline">{% trans "Jetzt ab" %}</div>
    <div class="price">{% trans "4,99" %}</div>
    <div class="currency">{% trans "CHF/mtl." %}</div>
  </div>
  <div class="benefits">
    <div class="container">
      <ul>
        <li>{% trans "Eingabe alle Daten mit maximaler Effizienz." %}</li>
        <li>{% trans "Revisionssichere Ablage." %}</li>
        <li>{% trans "Automatische Validierung der Daten." %}</li>
        <li>{% trans "10 Jahre Datengarantie." %}</li>
        <li>{% trans "Aktienbuch als PDF herunterladen." %}</li>
      </ul>
      <a href="{% url "registration_register" %}" title="{% trans "Try for free" %}" class="btn btn-default btn-focus">
        {% trans "Try for free" %}
      </a>
    </div>
  </div>
  <div class="summary">
    <div class="container">
      <blockquote>
        <p class="says">
          {% trans "Die Automatische Validierung verhindert Fehler und sichert maximale Gesetzeskonformitaet. Das Online-Aktienbuch macht die Pflege schnell und effizient, damit Zeit frei wird fuer die wirklichen Herausforderungen" %}
        </p>
        <p class="author"></p>
      </blockquote>
    </div>
  </div>
  {% if latest_blog_entry %}
  <div class="blog">
    <div class="container">
      <h2>{% trans "Do you know our Blog?" %}</h2>
      <blockquote>
        <p class="says">{{ latest_blog_entry.excerpt }}</p>
        <p class="author"></p>
      </blockquote>
      <a href="/blog/" title="{% trans "Read our Blog" %}" class="btn btn-default btn-focus">
        {% trans "Read our Blog" %}
      </a>
    </div>
  </div>
  {% endif %}
  <div class="newsletter">
    <div class="container">
      <h2>{% trans "Subscribe to our newsletter!" %}</h2>
      <p>{% trans "Stay up to date about our work and latest share register industry news" %}</p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//das-aktienregister.us9.list-manage.com/subscribe/post?u=59c5b2d0d9ebfebb1fcaf0802&amp;id=2200f70ad3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">

          <div class="mc-field-group form-group">
              <label for="mce-EMAIL">{% trans "Geben Sie Ihre Email-Adresse ein" %}</label>
              <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
          </div>
          <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

          <div style="position: absolute; left: -5000px;" aria-hidden="true" class="form-group">
            <input type="text" name="b_59c5b2d0d9ebfebb1fcaf0802_2200f70ad3" tabindex="-1" value="" class="form-control">
          </div>
          <div class="clear form-group">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-white">
          </div>
          </div>
      </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
  </div>
  <footer>
    <div class="container">
      <ul>
        {% for page in flatpages %}
          <li><a href="{{ page.url }}" class="btn-inline">{{ page.title }}</a> | </li>
        {% endfor %}
        <li>
          <a href="/blog/" title="{% trans "Read our blog" %}" class="btn-inline">
            {% trans "Read our blog" %}
          </a> |
        </li>
        <li>
          <a href="http://uptime.statuscake.com/?TestID=uaZ8Xyv6rE" title="{% trans "Service Status" %}" class="btn-inline">
            {% trans "Service Status" %}
          </a> |
        </li>
        <li>
          <a href="http://www1.das-aktienregister.ch/agb" title="{% trans "AGB" %}" class="btn-inline">
            {% trans "AGB" %}
          </a> |
        </li>
        <li>
          <a href="http://www.kkd-partners.com" title="{% trans "A service provided by KKD Komm. GmbH" %}" class="btn-inline">
            {% trans "A service provided by KKD Komm. GmbH" %}
          </a> |
        </li>
        <li>
          {{ VERSION }}
        </li>
      </ul>
    </div>
  </footer>
</div>

{% endblock %}
