{% extends "base_auth.html" %}
{% load i18n %}

{% block ng_app %}js.darg.app.start{% endblock %}

{% block content %}
<div ng_controller="StartController">
  <h1>{% trans "Welcome" %} {{ request.user }}!</h1>
  {% include "_form_errors.html" %}
  <div id="add_company" ng-show="!user.operator_set.length">
    {% include "_add_company_form.html" %}
  </div>

  <div class="panel" ng-hide="!user.operator_set.length">
    <a class="btn align-left" href="" ng-click="show_add_shareholder_form()">{% trans "Add Shareholder" %}</a>
  </div>

  <div id="add_shareholder" ng-hide="!user.operator_set.length  || !show_add_shareholder">
      {% include "_add_shareholder_form.html" %}
  </div>
  {% if user.operator_set.exists %}
    {% for operator in user.operator_set.all %}
      <div id="shareholder_list" ng-hide="!user.operator_set.length">
        <h2>
          {% trans "Your Shareholders for" %} {{ operator.company.name }}
          <a href="{% url "company" operator.company.id %}" class="el-icon-cogs-wrapper btn">
            <span class="el-icon-cogs"></span>
          </a>
        </h2>
        <table class="table table-hover">
          <caption></caption>
          <thead>
            <tr>
              <th>{% trans "Name" %}</th>
              <th>{% trans "Email" %}</th>
              <th class="text-right">{% trans "Shareholder Number" %}</th>
              <th class="text-right">{% trans "Shares (%)" %}</th>
          </thead
          <tbody>
          {% verbatim %}
          <tr class="panel" ng-repeat="shareholder in shareholders  | orderBy:'-share_count'" ng-click="goto_shareholder(shareholder.pk)" ng-mouseover="">
            <td><span class="el-icon-exclamation-sign" ng-hide="shareholder.validate_gafi.is_valid" data-toggle="tooltip" title="{% endverbatim %}{% trans "Gafi Validation failed" %}{% verbatim %}"></span>
              {{ shareholder.user.first_name }} {{ shareholder.user.last_name }}
            </td>
            <td>{{ shareholder.user.email }}<a class="btn"><span class="el-icon-eye-open"></span></a></td>
            <td class="text-right">{{ shareholder.number }}</td>
            <td class="text-right"><value ng-if="shareholder.share_count != '-'">{{ shareholder.share_count | number : 0}} ({{shareholder.share_percent | number : 1}}%)</value></td>
          </tr>
          </tbody>
        </table>
        {% endverbatim %}
        <div class="panel" ng-show="!shareholders.length">
          <div class="clearfix">
            <em>No Shareholders yet.</em>
          </div>
        </div>
        <div class="captable_context_actions" ng-hide="!shareholders.length">
          {% trans "Download active Shareholders as" %}
          <a href="{% url "captable_pdf" company_id=operator.company.id %}" title="{% trans "Download active Shareholders as PDF" %}" class="btn btn-inline">
            {% trans "PDF" %}
          </a> |
          <a href="{% url "captable_csv" company_id=operator.company.id %}" title="{% trans "Download active Shareholders as CSV" %}" class="btn btn-inline">
            {% trans "CSV" %}
          </a>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
{% endblock %}
