{% load staticfiles %}
{% load i18n %}

   <!-- styles -->
   <link href="{% static "compiled/stylesheets/contrib/animate-3.5.1.min.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{% static "compiled/contrib/bootstrap/dist/css/bootstrap.css" %}">
  <link href="{% static "compiled/contrib/angular-xeditable/dist/css/xeditable.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
  <!-- must be last css in list -->
  <link href="{% static "compiled/stylesheets/screen.css" %}?v={{VERSION}}" media="screen, projection" rel="stylesheet" type="text/css" />

  {# IE warning #}
  <!--[if lte IE 8]>
    <link href="{% static "stylesheets/ie.css" %}" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->
  <link rel="stylesheet" type="text/css" href="{% static "compiled/stylesheets/contrib/elusive-webfont.css" %}">

  <!-- favicon -->
  <link rel="shortcut icon" href="{% static "compiled/images/dasaktienregister.png" %}" type="image/x-icon"/>
  <link rel="icon" href="{% static "compiled/images/dasaktienregister.png" %}" type="image/x-icon">

  <!-- responsive: don't scale page -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
