{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

 {% include "_meta_tags.html" %}
 {% include "_html_head_links.html" %}
  
</head>
<body ng-app="{% block ng_app %}js.darg.app.base{% endblock %}" ng-cloak>

  {% block body_block %}
  {% endblock %}

  <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
  <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
  <script src="{% static "compiled/contrib/underscore/underscore.js" %}"></script>
  <script src="{% static "compiled/contrib/angular/angular.js" %}"></script>
  <script src="{% static "compiled/contrib/angular-resource/angular-resource.js" %}"></script>
  <script src="{% static "compiled/javascript/script.js" %}"></script>

  <!-- csrf protection for rest api -->
  <script>
  // Add the CSRF Token
  var app = angular.module(angular.element($('[ng-app]')).attr('ng-app')); // Not including a list of dependent modules (2nd parameter to `module`) "re-opens" the module for additional configuration
  app.config(['$httpProvider', function($httpProvider) {
     $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
  }]);
  </script>

  {% include "_tracking.html" %}

</body>
</html>
