{% extends "base.html" %}
{% load i18n %}

{% block body_block %}
  {% block header %}
    {% include "menu.html" %}
  {% endblock %}

  <div class="container" ng-cloak>
    {% block content %}
    {% endblock %}

  {% block footer %}
  <footer class="footer">
    {% trans "The Share Register, 2016" %}
    v{{VERSION}} |
    {% trans "do you know our" %}
    <a href="/blog/" title="Das Aktienregister Blog" class="btn-inline">{% trans "our blog" %}</a>?
  </footer>
  {% endblock %}
  </div>
{% endblock %}
